<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Profile</title>
    <link
      rel="shartcut icon"
      type="image/x-icon"
      href="./img/images/Group.png"
    />
    <link rel="stylesheet" href="./css/profile.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="profile">
          <div class="profile-image">
            <img
              src="{{user.files.0.destination}}/{{user.files.0.originalname}}"
              alt=""
              style="width: 70%; height: 70%"
            />
          </div>

          <div class="profile-user-settings">
            <h1 class="profile-user-name">{{ user.fullName }}</h1>

            <button class="btn profile-edit-btn">
              <a href="/editprofile">Edit Profile</a>
            </button>

            <button
              class="btn profile-settings-btn"
              aria-label="profile settings"
            >
              <i class="fas fa-cog" aria-hidden="true"></i>
            </button>

            <h2 class="profile-college-name">{{ user.collegeName }}</h2>
          </div>

          <div class="profile-stats">
            <ul>
              <li>
                <span class="profile-stat-count">{{ fitLength }}</span> fits
              </li>
              <!-- <li><span class="profile-stat-count">1909</span> followers</li>
						<li><span class="profile-stat-count">1119</span> following</li> -->
            </ul>
          </div>

          <div class="profile-bio">
            <p>
              <span class="profile-real-name">Shaktiman </span> Lorem ipsum
              dolor sit, amet consectetur adipisicing elit
              <i class="fas fa-heart" aria-hidden="true"></i>
            </p>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="row">
        <div class="col-md-12 text-center">
          <ul id="filter-list">
            <li onclick="allposts()" class="filter active" data-filter="all">
              <i class="fas fa-camera-retro"></i>
            </li>
            <li onclick="imagesposts()" class="filter" data-filter="1">
              <i class="far fa-images"></i>
            </li>
            <li onclick="textposts()" class="filter" data-filter="2">
              <i class="fas fa-quote-left"></i>
            </li>
          </ul>
        </div>
      </div>
      <div class="gallery-outer">
        <ul
          class="gallery-items"
          style="padding: 0px; position: relative; height: 1261px"
        >
          <li
            class="filtr-item"
            data-category="1"
            style="
              opacity: 1;
              transform: scale(1) translate3d(0px, 0px, 0px);
              backface-visibility: hidden;
              perspective: 1000px;
              transform-style: preserve-3d;
              position: absolute;
              transition: all 0.5s ease-in-out 0ms;
              pointer-events: auto;
            "
          >
            <div class="gallery-inner">
              <img src="postpic" alt="" />
              <div class="gallery-overlay">
                <a
                  href="img/back (1).jpg"
                  class="venobox vbox-item"
                  data-gall="gallery"
                  ><i class="fa fa-picture-o"></i
                ></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- jQuery -->
      <script src="./js/jquery-3.3.1.min.js"></script>
      <script src="./js/popper.min.js"></script>
      <script src="./js/script.js"></script>

      <!-- backend api script -->
      <script>
        const gallery = document.querySelector(".gallery-items");
        let posts = [];
        fetch("http://localhost:3001/allposts")
          .then((res) => res.json())
          .then((res) => {
            posts = res;
            gallery.innerHTML = "";
            res.map((fit) => {
              let post = `
                  <li style='list-style:none;' >
                    <div class="">
                    <img style="height: 160px; object-fit: contain;" src="${fit.file.destination}/${fit.file.originalname}"
                      alt="hrllo"
                    />
                    <p style="font-size: 1.5rem; padding: 1rem;">${fit.message}</p>
                    <div style="font-size: 1.8rem; padding: 0 1rem;">
                      <i class="fas fa-heart" aria-hidden="true"> ${fit.likescount}</i> 
                      <i class="fas fa-comment" aria-hidden="true"> </i> ${fit.commentsCount}
                    </div>
                    </div>
                  </li>
                `;
              gallery.insertAdjacentHTML("beforeend", post);
            });
          })
          .catch((error) => {
            console.warn(error);
          });
          
        const allposts = () => {
          gallery.innerHTML = "";
          posts.map((fit) => {
              let post = `
                  <li style='list-style:none;' >
                    <div class="">
                    <img style="height: 160px; object-fit: contain;" src="${fit.file.destination}/${fit.file.originalname}"
                      alt="hrllo"
                    />
                    <p style="font-size: 1.5rem; padding: 1rem;">${fit.message}</p>
                    <div style="font-size: 1.8rem; padding: 0 1rem;">
                      <i class="fas fa-heart" aria-hidden="true"> ${fit.likescount}</i> 
                      <i class="fas fa-comment" aria-hidden="true"> </i> ${fit.commentsCount}
                    </div>
                    </div>
                  </li>
                `;
              gallery.insertAdjacentHTML("beforeend", post);
            });
        }

        const imagesposts = () => {
          gallery.innerHTML = "";
          posts.map((fit) => {
              let post = `
                  <li style='list-style:none;' >
                    <div class="">
                    <img style="height: 160px; object-fit: contain;" src="${fit.file.destination}/${fit.file.originalname}"
                      alt="hrllo"
                    />
                    <div style="font-size: 1.8rem; padding: 0 1rem;">
                      <i class="fas fa-heart" aria-hidden="true"> ${fit.likescount}</i> 
                      <i class="fas fa-comment" aria-hidden="true"> </i> ${fit.commentsCount}
                    </div>
                    </div>
                  </li>
                `;
              gallery.insertAdjacentHTML("beforeend", post);
            });
        };

        const textposts = () => {
          gallery.innerHTML = "";
          posts.map((fit) => {
              let post = `
                  <li style='list-style:none;' >
                    <div class="">
                      <p style="font-size: 1.5rem; padding: 1rem;">${fit.message}</p>
                      <div style="font-size: 1.8rem; padding: 0 1rem;">
                      <i class="fas fa-heart" aria-hidden="true"> ${fit.likescount}</i> 
                      <i class="fas fa-comment" aria-hidden="true"> </i> ${fit.commentsCount}
                    </div>
                    </div>
                  </li>
                `;
              gallery.insertAdjacentHTML("beforeend", post);
            });
        };
      </script>
    </main>
  </body>
</html>
<!--  -->
